.grid-wrap { width: 100%; }

/* padding ปกติของเซลล์ */
:host ::ng-deep .tabulator .tabulator-row .tabulator-cell {
  padding: 8px !important;
  text-align: center;
}

/* เซลล์รูป: padding น้อยลงให้พื้นที่รูปเยอะขึ้น */
:host ::ng-deep .tabulator .tabulator-row .tabulator-cell.cell-image {
  padding: 5px !important;
}

/* หัวคอลัมน์จัดกลาง */
:host ::ng-deep .tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

/* กล่องรูป (กำหนดความสูงใน TS แล้ว) */
:host ::ng-deep .img-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

/* ให้ tableholder เลื่อนแนวตั้งได้ */
:host ::ng-deep .tabulator .tabulator-tableholder {
  overflow-y: auto;
}

.btn-disabled {
  @apply bg-slate-300 text-slate-500 px-4 py-2 rounded-lg cursor-not-allowed opacity-70;
}


