.grid-wrap { width: 100%; }

/* บังคับให้กริดกว้างเต็ม */
/* :host ::ng-deep .tabulator,
:host ::ng-deep .tabulator .tabulator-tableholder,
:host ::ng-deep .tabulator .tabulator-table {
  width: 100% !important;
} */


/* padding ทั่วไป */
:host ::ng-deep .tabulator .tabulator-row .tabulator-cell {
  padding: 8px !important;         /* ✅ คง layout เดิมของ Tabulator */
  text-align: center;
}


/* เซลล์คอลัมน์รูป: padding น้อยลงเพื่อไม่ให้ตัดความสูง */
:host ::ng-deep .tabulator .tabulator-row .tabulator-cell.cell-image {
  padding: 4px !important;             /*  แถวจะสูง ~ THUMB_H + 8px */
}


/* หัวคอลัมน์จัดกลาง */
:host ::ng-deep .tabulator .tabulator-header .tabulator-col .tabulator-col-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

/* กล่องรูป */
:host ::ng-deep .img-wrap { width:100%; height:100%; overflow:hidden; border-radius:8px; }


/* tableholder เลื่อนแนวตั้งได้เมื่อแถวสูงขึ้น */
:host ::ng-deep .tabulator .tabulator-tableholder {
  overflow-y: auto;
}

.btn-disabled {
  @apply bg-slate-300 text-slate-500 px-4 py-2 rounded-lg cursor-not-allowed opacity-70;
}
